@media only screen and (max-width:600px){
  
    main{
        height: 100%;
        width: 100%;
    }
    .header-content header{
        width: 100%;
        padding: 30px 0px;
        padding-bottom: 15px;
    }
    header{
        /* position: relative; */
        align-items: start;
        overflow-x: hidden;
    }
    nav,ul {
        flex-direction: column;
        align-items: center;
        background-color: transparent;
    }
    nav ul{
        margin-right: 0px;
    }
    nav ul li{
        padding:28px 50px;
        margin: 0;
    }
    nav ul li a{
        font-size: 5vw;
    }
    nav button{
        display: none;
    }
    header h1{
        font-size: 7vw;
        margin-left: 0px;
    }
    /*  */
    .second-div{
        height: 100dvh;
        flex-direction: column;
        /* position: relative; */
    }
    /*  */
    .main-content{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .main-box{
        margin-top: 5px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        /* position: relative; */
    }
    .main-box .search-box{
        background-color:rgb( 19,24,31) ;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-box .search-box input{
        margin-top: 0px;
        padding: 0px 10px;
        width: 60%;
        height: 40px;
    }
    .main-box .search-box button i{
        font-size: 4vw;
    }
    .main-box .search-box button{
        width: 40px;
        height: 0px;
    }
    /*  */
    .first-content-box h2{
        font-size: 5.5vw;
        font-weight: 500;
        line-height: 30px;
    }
    .last-box-div .first-div p{
        font-size: 4vw;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .second-div{
        align-items: center;
        border-radius: 12px;
        margin-bottom: 5px;
    }
    .second-div div{
        width: 96vw;
        margin: 15px 5px;
        border-radius: 13px;
        height: 150px;
    }
    .second-div div h2{
        font-size: 8vw;
        padding-bottom: 10px;
    }
    .second-div div p{
        font-size: 5vw;
        color: rgb(18, 14, 14);
    }
    .middle-btn{
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
    .middle-btn button{
        font-size: 6vw;
    }
    main{
        height: 120%;
    }
    /* page2 */
    .page2{
        height: 170%;
        width: 100%;
    }
    .second-main-page{
        height: 100%;
        width: 96%;
    }
    .page2-top-content h2{
        font-size: 4vw;
    }
    .page2-box-div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .page2-box-div .box1{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .page2-box-div .box2{
        width: 100%;
        height: 60%;
        background-color: rgb(11, 15,16);
        border-radius: 20px;
        padding: 20px 25px;
        margin-top: 25px;
        margin-bottom: 80px;
    }
    .page2-box-div .box2 .top p{
        font-size: 5vw;
        color: #606060;
    }
    .History-record-box{
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(19, 27, 28);
        margin-bottom: 20px;
    }
    .History-record-box p{
        font-size:3vw;
    }
    #minimu-btn{
        font-size: 3vw;
    }
    .image-content-box1{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
    }
    .image-content-box1 .image-box{
        width: 90%;
        height: 50%;
        border-radius: 40px;
    }

    .content-box2{
        width: 100%;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 40px;
        border-radius: 20px;
    }
    /*  */
    .page3{
        width: 100%;
        height:70vh;
        background-color: #131313;
    }
    #navbar-click{
        display: block;
        position: relative;
    }
    #come-out{
        width: 70%;
        height: 50%;
        position: absolute;
        top: 10%;
        right: 0;
        display: none;
        background-color: gray;
        /* top: -300px; */
        z-index: 99;
        transition: all 0.5s ease-in-out;
        
    }
    #close-icon{
        position: absolute;
        left: 47%;
        top:5%;
        z-index: 99;

    }
    footer{
        display: flex;
        flex-direction: column;
        padding: 10px 40px;
    }
    .third-div3 p{
        font-size: 5vw;
    }
    .first-div1 h1{
        font-size: 6vw;
    }
    .second-div2 h1{
        font-size: 6vw;
    }
    .third-div3 i{
        font-size: 6vw;
    }

}